<div class="footer">
  <div class="inner-container">
    <ul class="footer-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Terms and Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Collection Statement</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Manage Account</a></li>
    </ul>

    <div class="copyright">
      Copyright &copy; 2016 DEMO Streaming. All Rights Reserved.
    </div>

    <div class="footer-icons">
      <ul class="social-icons">
        <li>
          <a href="#">
            <img
              class="facebook"
              title="Facebook"
              src="../../assets/social/facebook-white.svg"
              alt="facebook"
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              class="twitter"
              title="Twitter"
              src="../../assets/social/twitter-white.svg"
              alt="twitter"
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              class="instagram"
              title="Instagram"
              src="../../assets/social/instagram-white.svg"
              alt="instagram"
            />
          </a>
        </li>
      </ul>
      <ul class="app-icons">
        <li>
          <a href="#">
            <img
              title="Apple App Store"
              src="../../assets/store/app-store.svg"
              alt="app-store"
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              title="Google Play Store"
              src="../../assets/store/play-store.svg"
              alt="app-store"
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              title="Microsoft App Store"
              src="../../assets/store/windows-store.svg"
              alt="app-store"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
